:colors {
    // Color cube
    $Alabaster: #f8f8f8;
    $Deep_Cove: #051745;
    $Daisy_Bush: #351ba2;
    $Scorpion: #5d5c5d;
    $Purple_Heart: #8532e6;
    $Pale_Slate: #bcbbbc;
    $Yellow_Orange: #ffa837;
    $ScienceBlue: #0369d7;
    $Jade: #02ca6b;
    $Java: #19d5e3;
    // Median cut
    $Lucky_Point: #1a236c;
    $Concrete: #f3f3f3;
    $Victoria: #5b4792;
    $Regent_Gray: #818e9d;
    $Di_Serria: #dd9f4d;
    // Material design
    $Purple_Heart-vibrant: #5926c0;
    $Scorpion-muted: #5a5759;
    $Jacksons_Purple-dark-vibrant: #2a1999;
    $Millbrook-dark-muted: #594035;
    $Tulip_Tree-light-vibrant: #eca447;
}