@mixin button { 
    .button {
        padding: .8rem 2.2rem;
        text-transform: uppercase;
        color: white;
        border-color: transparent;
        background: none;
        box-shadow: none;
        border-radius: 2rem;
        font-weight: 800;
        cursor: pointer;
        transition: background-color .4s, opacity .4s;
    }
}

@mixin sectionTitle {
    .section-title {
        margin: 0 auto;
        max-width: 50%;
        text-align: center;
        .title {
            margin-bottom: 2rem;
        }
        .text {
            font-size: 1.3rem;
            line-height: 2.4rem;
        }
    }
}